@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --font-color-primary: #000000;
  --font-color-secundary: #1680ac;
  --font-color-menu: #000000;
  --bg-primary: #000305;
  --bg-secundary: #f8f8f8;
}

body{
  background-image: url(../assets/imagens/plano\ de\ fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.header {
  /* z-index: determinar el orden en el que los elementos se superponen entre sí en el eje Z, que es perpendicular a la superficie de la página. */
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

.brand {
  color: var(--font-color-primary);
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.navegation-items a {
  /*  El position: relative; en este caso indica que el enlace será el punto de referencia para posicionar cualquier elemento descendiente con position: absolute;. Esto significa que cualquier elemento con position: absolute; dentro de un enlace se posicionará en relación con ese enlace en particular. */
  position: relative;
  color: var(--font-color-primary);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
/* Media Queries */
@media (max-width: 1040px) {
  .header {
    padding: 12px 20px;
  }

  .home {
    padding: 100px 20px;
  }

  .media-icons {
    right: 15px;
  }

  .navegation {
    display: none;
  }

  .navegation.active {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  .navegation-items a {
    color: var(--font-color-menu);
    font-size: 1.2em;
    margin: 20px;
  }

  .navegation-items a::before {
    background: var(--font-color-menu);
    height: 5px;
  }

  .navegation.active .navegation-items {
    background: var(--bg-secundary);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  }

  .menu-btn {
    background: url("imagens/menu.svg") no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
  }

  .menu-btn.active {
    z-index: 999;
    background: url("imagens/close.svg") no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

.navegation-items a::before {
  /* content: se utiliza principalmente con pseudo-elementos, como ::before y ::after, para agregar contenido adicional a un elemento en una página web. */
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.navegation-items a:hover::before {
  /* da la impresión de que la línea negra se desliza desde la parte inferior del enlace */
  width: 100%;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background: rgba(12, 12, 12, 0.492);
  box-shadow: 0 4px 30px rgba(19, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  border-radius: 1rem;
  margin: 5rem auto;
  max-width: 1100px;
}

.texto .titulo h1{
  color: rgb(255, 255, 255);
  text-align: center;
   text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}
.texto .sub-titulo h2{
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
   text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}

.texto .titulo  .teste p{
  padding: auto;
  text-decoration: solid;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.texto .titulo .teste h2{
  font-size: 25px;
  text-align: center;
  text-decoration: solid;
}

/* Rodape  */
footer {
    
  width: 100%;
	background: rgb(37, 22, 1);
  box-shadow: 0 4px 30px rgb(247, 1, 1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
	color: rgb(255, 255, 255);
  font-size: 1rem;
	padding: 20px;
	text-align: center;
	
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #ffffff;
	text-decoration: none;
}
/* Rodape  */